.hero {
    color: white;
    background-color: #00334e;
    padding: 2em 1em 6em 1em;
}

.container-fluid {
    padding: 0;
}

.authenticate {
 //   margin: 0 0 0 5em;
}

.signup-btn {
    background-color: #fa8729;
    color: white;
    border: none;
    border-radius: 50px;
    display: block;
    margin: 2.5em 0 0.9em 0;
    position: relative;
    width: 90%;
    padding: 0.27rem;
}

.login-btn {
    background-color: white;
    border: 2px solid #fa8729;
    color: #fa8729;
    border-radius: 50px;
    display: block;
    margin-bottom: 2em;
    position: relative;
    width: 90%;
    padding: 0.26rem;
}

.image {
    width: 80%;
    margin-left: 2em;
}

.navlink {
    text-decoration: none !important;
}

.navbar-dak {
    background-color: #00334e;
    /*background-color: #00112c !important;*/
}

.explainer-1, .explainer-2 {
    margin-top: 5em;
}

.foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2em;
}


@media only screen and (min-width: 535px) {
    .hero h5 {
        margin-right: 3em;
    }

    .signup-btn, .login-btn {
        width: 72%;
    }

}


@media only screen and (min-width: 768px) {

.hero {
    padding: 4em 4em 7em 4em;
}

.image {
    margin: 3em 0 0 3.5em;
}

.hero h1 {
    margin-top: 1em;
}


.signup-btn {
    margin-top: 4em;
}

}

@media only screen and (max-width: 900px) {
    .image {
        width: 90%;
    }  
}


@media only screen and (min-width: 1200px) {
    

    .image {
        margin: 3.8em 0 0 3.5em;
    }
    
    .hero h1 {
        margin-top: 3.4em;
    }
}

// Styles for authentication

.border{
    max-width: 500px;
    margin: 0 auto;
  
}


// Styles for Profile.js

.body {
   // background-color: #00334e;
    background-color: black;
   // background-color: #E2E4E4;
}

.profile-page {
   // background-color: #1d273d;
   // background-color: #222222;
    color: #fff;
    max-width: 880px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 0 0.5em 0 0.5em;
    //margin: 0px auto;
}

.bio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 0 2.5em 0;
}

.bio-summary {
    text-align: center;
    max-width: 300px;
    p{
        font-size: smaller;
        font-weight: 100;
    }
}

a {
    text-decoration: none;
    color: white;
}

h3, h4 {
    margin: 0;
}
#name {
   // color: #F1D4D4;
    margin: 0.3em 0 0.2em 0;
}

.works {
    //text-align: center;
    margin-top: 3rem;
    h2 {
       // margin-bottom: 1em;
        text-align: center;
    }
}


.socials a {
    padding: 0.4em
}

.hr {
    border-bottom: 1px solid #fa8729;
    width: 70%;
    margin: 0 auto;
}

.footer {
    background-color: #222222;
    border-radius: 8px;
    padding: 2em;

    h2 {
        text-align: center;
        margin-bottom: 1em;
    }
}

.contact {
    display: flex;
   // flex-flow: column wrap;
    justify-content: space-around;
    div p {
        display: block;
    }
}
@import '~bootstrap/scss/bootstrap.scss';